<div class="container my-5" >

<form method="POST" action="/video/list">
  <div class="form-group">
    <label for="title" class="form-label">TIÊU ĐỀ</label>
    <input type="text" class="form-control" id="title" name="title">
   
  </div>

  <div class="form-group">
    <label for="mota" class="form-label">MÔ Tả</label>
    <input type="text" class="form-control" id="mota" name="mota">
   
  </div>

    <div class="form-group">
    <label for="video" class="form-label">VIDEO</label>
    <input type="text" class="form-control" id="video" name="video" >
   
  </div>

    <div class="form-group">
    <label for="slug" class="form-label">SLUG</label>
    <input type="text" class="form-control" id="slug" name="slug">
   
  </div>

    <div class="form-group">
    <label for="tap" class="form-label">TẬP PHIM</label>
    <input type="text" class="form-control" id="tap" name="tap">
   
  </div>

  <button type="submit" class="btn btn-primary">THEM VIDEO</button>
</form>
</div>
